@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap');
@import 'https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css';
*{
    
    margin: 0;
    padding: 0;
}
.content {
    background-image: linear-gradient(to top, #abacac, #8a9395, #6b7a81, #50616f, #3b485c, #323b51, #2a2f46, #23233b, #202036, #1d1d31, #1b1b2d, #181828);
  /* background-image: linear-gradient(to top, #ced1d1, #aeb1b1, #8f9392, #727574, #565957, #464947, #373a37, #292b28, #212320, #1a1b19, #121211, #060605);*/
    height: 90vh;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
}
/*.content h1 {
    color: rgb(250, 238, 224);
    position: absolute;
    top: 40%;
    left: 50%;
    font-family: 'Kaushan Script', cursive;
    transform: translate(-50%, -50%);
    z-index: 1;
    font-size: 80px;
    text-align: center;
}*/
.content h1 {
    margin-top: 10%;
    color: rgb(250, 238, 224);
    font-family: 'Kaushan Script', cursive;
    z-index: 1;
    font-size: 80px;
    border-bottom:2px dotted darkgoldenrod;
}
.content .contacts {
    display: flex;
    flex-direction: row;
    width: 100vw;
    margin-top: 20%;
    justify-content: space-around;
    align-items: center;
}
.content .contacts .col {
    display: flex;
    flex-direction: column;
    color: rgb(250, 238, 224);
    font-size: 30px;
}
.content .contacts .col p {
    font-family: 'Kaushan Script', cursive;
    z-index: 1;
    margin-bottom: 30px;
}
.content .contacts .col i {
    margin-right: 10px;
    font-size: 35px;
    color: rgb(91, 134, 214);
}
.content .contacts .col:nth-child(1) p:nth-child(1) i:nth-child(1){
    color: rgb(108, 172, 95);
}
.content .contacts .col:nth-child(1) p:nth-child(2) i:nth-child(1){
    color: white;
}
.content .contacts .col:nth-child(2) p:nth-child(1) i:nth-child(1){
    color: white;
}
.content .contacts .col:nth-child(3) p:nth-child(2) i:nth-child(1){
    color: rgb(247, 36, 194);
}
.box ul li {
    position: absolute;
    width: 35px;
    height: 35px;
    list-style: none;
    opacity: 0;
    background: radial-gradient(deepskyblue, transparent, transparent);
    bottom: 0;
    left: 10vw;
    animation: animate 15s linear infinite;
}
.box ul li:nth-child(2) {
    left: 37vw;
    animation-delay: 2s;
    background: radial-gradient(rgb(108, 172, 95), transparent, transparent);
}
.box ul li:nth-child(3) {
    left: 25vw;
    animation-delay: 4s;
}
.box ul li:nth-child(4) {
    left: 60vw;
    animation-delay: 6s;
    
}
.box ul li:nth-child(5) {
    left: 75vw;
    animation-delay: 4s;
    background: radial-gradient(rgb(108, 172, 95), transparent, transparent);
}
.box ul li:nth-child(6) {
    left: 90vw;
    animation-delay: 3s;
   /*background: radial-gradient(rgb(108, 172, 95), transparent, transparent);*/
}
@keyframes animate {
    0% {
        transform: scale(0);
        opacity: 1;
        bottom: 0;
    }
    100% {
        transform: scale(10);
        opacity: 0;
        bottom: 100vh;
    }
}